h1 {
	color:darkgrey; font-family:"Arial Black"
}
h3 {
	color:lightcoral; font-family:"Times New Roman"
}
#sacco-chilla
	{
	width: 50%;
	height: 50%
}
#sarahruth-ballon
	{
	width: 50%;
	height: 50%;
}