body{
	background: transparent -webkit-linear-gradient(black, white) fixed;
	width: auto;
	height: 100%;
}

h1 {
	color: #ffffff;
	font-family:"Arial Black", Arial, sans-serif;
	text-shadow: 10px 10px rgb(255, 255, 255);
	text-align: center;
	margin: 10px 10px;
}
#aboutMe {
	color: #ffffff;
	font-family:"Times New Roman", Times, serif;
	margin: 20px auto;
	text-align: center;
	width: 40%;
}
#aboutMe:hover{
	text-transform: uppercase;
	font-size: 16px;
}
#sacco-chilla
	{
	width: 47%;
	height: 45%;
	margin: 20px 10px;
	float: right;
	position: relative;
}
#sarahruth-ballon
	{
	width: 47%;
	height: 45%;
	margin: 20px 10px;
	position: relative;
}

#sarahruth-ballon, #sacco-chilla{
	padding: 3px;
	border: 1px solid white;
}